@import "/src/assets/style/vars";

  @mixin main {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: $font-family-main;
     
    }
  }
  @mixin mobile {
    @media (max-width: 425px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: 426px) and (max-width:768px ) {
      @content;
    }
  }
  @mixin desktop {
    @media (min-width: 769px)  {
      @content;
    }
  }