
  @mixin main {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Lato', sans-serif;
     
    }
  }
  @mixin tablet {
    @media (max-width: 1300px) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: 800px) {
      @content;
    }
  }