
//container-padding
$container-padding:25px 75px;

//colors
$background-color:#ffffff;
$primary-color:rgb(173, 173, 173);
$secondary-color:rgb(179, 173, 173);

// Font families

$font-family-main:'Josefin Sans', sans-serif;
// Font sizes
$font-size-xs: 0.75rem;
$font-size-sm: 0.85rem;
$font-size-normal: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.5rem;