@import "/src/assets/style/vars";
@import "/src/assets/style/mixins";
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background-color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.space{
  display: flex;
  flex: 1 1 auto;
}
.logo{
 width: 70px;
 height: 70px;
 cursor: pointer;
 img{
   display: block;
   width: 100%;
   height: 100%;
 }
}
 .nav-link{
  display: inline;
  margin: 0 10px;
  color: rgb(150, 147, 147);
  font-size:1.3em;
  text-decoration: none;
  font-family: $font-family-main;
  font-weight: 400;
  &:hover{
    background-image: linear-gradient(to right, red , yellow);
   background-clip: text;
   color: transparent;
  }
 }
 
 
@include mobile{
 
  .nav-link{
    display: none;
  }
  .space{
    display: none;
  }
  .logo {
     margin-left: 60%;
  }

}
@include tablet{
  .nav-link{
    display: none;
  }
  .space{
    display: none;
  }
  .logo {
     margin-left: 70%;
  }

}
@include desktop{
  .sidenav{
    display: none;
  }
  mat-toolbar button{
    display: none;
  }
}