/* You can add global styles to this file, and also import other style files */
@import '/src/assets/style/mixins';
@include main;

ul{
    list-style: none;
a{
    text-decoration: none;
    color: black;
}
}

body{
    --navbar-scroll: transparent; 
    --navbar-scroll-text: white;
    --navbar-scroll-shadow: none;
   }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
